#jumbotron {
  background-color: #00b1ff;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

#logo {
  height: 150px;
}

#search {
  background-color: #0040c3;
}

#search:hover {
  background-color: #002f90;
}

#temperatureModal,
#currencyModal {
  width: 100px;
}

#temperatureModal:hover,
#currencyModal:hover {
  width: 102px;
}

#flightIcon,
#activitiesIcon {
  width: 50px;
}

#wrapper {
  padding: 20px;
  color: white;
}

#from::placeholder,
#to::placeholder,
#start::placeholder,
#end::placeholder,
#search::placeholder {
  text-transform: uppercase;
}

.card {
  margin-bottom: 10px;
}

.card-header {
  background-color: #002f90;
  text-align: center;
  text-transform: uppercase;
}

.list-group-item {
  color: black;
  text-align: left;
  height: auto;
  text-transform: lowercase;
}

#flightsDiv {
  background-color: #0040c3;
}

#flightsDivBody {
  overflow: auto;
}

/* #accommodationDiv {
    background-color: #0040c3;
} */

#activitiesDiv {
  background-color: #0040c3;
}

#activitiesDivBody {
  overflow: auto;
}

/* #exchangeRateCard {
    background-color: #0040c3;
}

#temperatureCard {
    background-color: #0040c3;
} */

/* media queries */

@media (max-width: 575.98px) {
  #wrapper {
    padding: 0px;
  }
  #flightsDivBody {
    overflow: none;
  }
  #activitiesDivBody {
    overflow: none;
  }
  #from,
  #to,
  #start,
  #end,
  #search {
    width: 100%;
  }
}

/* @media (min-width: 576px) and (max-width: 767.98px) {} */

@media (max-width: 991.98px) {
  #searchBar {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
}
